@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/_astro/roboto-latin-variable.woff2") format("woff2");
}

html,
body,
body *,
body *::before,
body *::after {
  font-family: Roboto, sans-serif !important;
}
